<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
        <script src="./js/app.js"></script>
        <title >Ops</title>
         <link rel="icon" href="./img/icon.png">
    </head>

    <body>
         <div class="main-content">
            {{>header}}
        </div>
        {{errorMessage}}
        {{>footer}}
    </body>
</html>